{% assign author = site.data.authors[page.author] %}
{% if author %}
  <div class="post-author">
    <div class="author-img">
      <img alt="{{ author.name }}" src="{{ author.avatar }}" class="avatar avatar-100 photo" height="100" width="100">
    </div>
    <div class="author-content">
      <h5>
        <a href="/" title="Đăng bởi {{ author.name }}" rel="author" data-wpel-link="internal">
          {{ author.name }}
        </a>
      </h5>
      <p>{{ author.description }}</p>
      <a target="_blank" class="author-social" href="{{ author.github }}" data-wpel-link="internal">
        <i class="fa fa-git"></i>
      </a>

      <a target="_blank" class="author-social" href="{{ author.facebook }}" data-wpel-link="external" rel="nofollow external noopener noreferrer">
        <i class="fa fa-facebook"></i>
      </a>

      <a target="_blank" class="author-social" href="{{ author.mail }}" data-wpel-link="external" rel="nofollow external noopener noreferrer">
        <i class="fa fa-envelope"></i>
      </a>
    </div>
  </div>
{% endif %}
